{{#section 'css'}}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/slicknav.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/css/themify-icons.css">
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/nice-select.css">
<link rel="stylesheet" href="/css/style.css">
{{/section}}
<br>

<div class="card shadow">
    <h4 class="card-header">
        Orders
        <a class="btn btn-outline-secondary" href="/admin/orders" role="button">
            <i class="fa fa-users" aria-hidden="true"></i>
            Categories
        </a>
    </h4>


    {{#if this.empty}}
    <div class="card-body">
        <p class="card-text">
            Không có dữ liệu.
        </p>
    </div>
    {{else}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">Order ID</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Order date</th>
                <th scope="col">Shipping address</th>
                <th scope="col">Recipient name</th>
                <th scope="col">Recipient phone</th>
                <th scope="col">Payment method</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                {{!-- <a class="btn btn-outline-success" href="/admin/categories/add" role="button">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add category
          </a> --}}
                {{!-- </th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each this.categories}}
            <tr>
                <th scope="row" class="text-center">{{order_id}}</th>
                <td>{{customer_id}}</td>
                <td>{{order_date}}</td>
                <td>{{shipping_address}}</td>
                <td>{{recipient_name}}</td>
                <td>{{recipient_phone}}</td>
                <td>{{payment_method}}</td>
                <td>{{total}}</td>
                <td>{{status}}</td>
                <td class="text-right">
                    <a class="btn btn-success mt-3" href="/admin/orders/{{order_id}}/processing" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Đang xử lý
                    </a>
                    <a class="btn btn-success mt-3" href="/admin/orders/{{order_id}}/delivering" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Đang giao
                    </a>
                    <a class="btn btn-success mt-3" href="/admin/orders/{{order_id}}/success" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Thành công
                    </a>
                    <a class="btn btn-success mt-3" href="/admin/orders/{{order_id}}/cancel" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Hủy đơn
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

<div class="card-footer text-muted">
    <a class="btn btn-outline-secondary" href="/" role="button">
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
    </a>
</div>
</div>

{{#section 'js'}}

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
{{/section}}