<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MiNi </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS here -->
    {{{_sections.css}}}

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">

                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a href="/"><img src="img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-4">
                                <!-- Main-menu -->
                                <div class="main-menu f-right  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>

                                            <li><a href="#">Categories</a>
                                                <ul class="submenu">
                                                    {{#each lcCategories}}
                                                    <li><a href="/categories/{{category_id}}/products">
                                                            {{name}}
                                                        </a></li>
                                                    {{/each }}
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fa fa-search special-tag"></i>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="shopping-card">
                                            <a href="/checkout/cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                    {{!-- <li class="d-none d-lg-block"> <a href="#" class="btn header-btn">Sign in</a></li> --}}

                                    <li>
                                        {{!-- <div class="collapse navbar-collapse flex-grow-1 text-right"> --}}
                                        <div class="user">
                                            {{!-- <ul class="navbar-nav ml-auto flex-nowrap"> --}}
                                            {{#if isAuthenticated}}

                                            <!-- Dropdown -->
                                            <div class="nav-item dropdown">
                                                <a class="btn btn-outline-primary dropdown-toggle" href="#"
                                                    data-toggle="dropdown">
                                                    <i
                                                        class="fa fa-user-circle"></i>Hi,&ensp;<b>{{authUser.UserName}}!</b>
                                                </a>

                                                <div class="dropdown-menu">
                                                    {{!-- {{#if authUser.TypeUser === 1}} --}}
                                                    {{!-- <a class="dropdown-item" href="/user/selling">Selling</a>
                                                        <a class="dropdown-item" href="/user/sold">SOLD</a> --}}
                                                    {{!-- {{/if}} --}}
                                                    <a class="dropdown-item"
                                                        href="javascript: $('#frmLogout').submit();">Logout</a>
                                                </div>
                                            </div>
                                            {{else}}
                                            <div class="flex-row">
                                                <div class="nav-item">
                                                    <a class="btn btn-outline-primary"
                                                        href="/account/register">Register</a>
                                                    <a class="btn btn-outline-primary" href="/account/login">Login</a>
                                                </div>
                                            </div>
                                            {{/if}}
                                            {{!-- </ul> --}}

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>


        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container ">
                {{{body}}}
                <!-- End Nav Card -->
            </div>
        </section>


    </main>
    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
                                            tempor incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>


    {{{_sections.js}}}
</body>

</html>