{{#section 'css'}}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/slicknav.css">
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/themify-icons.css">
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/nice-select.css">
<link rel="stylesheet" href="/css/style.css">

{{/section}}

<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>THANH TOÁN</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
{{#if this.empty}}
<div class="card-body">
    <p class="card-text">
        Không có dữ liệu.
    </p>
</div>
{{else}}

<div class="container">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.products}}
                    <tr>
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="/imgs/sp/{{product_id}}/main_thumbs.jpg" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>{{product_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>{{format price}}</h5>
                        </td>
                        <td>
                            <h5>{{amount}}</h5>
                        </td>
                        <td>
                            <h5 id="subtotal">{{format sub}}</h5>

                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>



        </div>
        <div class="float-right">

            <div class="card bg-light mb-3 " style="max-width: 20rem;">
                <div class="card-header font-weight-bold"> Thành tiền: <a>{{format this.total}}</a></div>
                <div class="card-body">
                    <h5 class="card-title">Tạm tính: <a>{{format this.temptotal}}</a></h5>
                 
                    <p class="card-text">Phí vận chuyển: <a>{{format this.fee}}</a></p>
                  



                </div>
            </div>
            <a href="http://localhost:3000/checkout/payment/confirm" class="btn btn-dark btn-lg"
                style="width: 20rem;">Thanh toán</a>


        </div>
    </div>

</div>



{{/if}}
{{#section 'js'}}

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>




{{/section}}